* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wraper {
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
  }
  
  .brand span {
    color: aqua;
  }
  
  .menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu li {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .menu .active {
    color: aqua;
  }
  
  .menu li:hover {
    background-color: aqua;
    color: #191c32;
    transition: ease-in 0.4s;
  }
  
  .main {
    margin: auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  
  h1 {
    font-size: 3em;
  }
  
  span {
    color: aqua;
  }
  
  .download-cv {
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
  }
  
  .download-cv:hover {
    background-color: #fff;
  }
  
  .main img {
    width: 350px;
    border-radius: 200px;
    border: 7px solid aqua;
  }
  
  .about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
    background-color: #191c32;
  }
  
  .about img {
    width: 100%;
    grid-column: 1/5;
    border-radius: 300px;
    border: 7px solid aqua;
  }
  
  .about-info {
    grid-column: 5/10;
    padding: 3em;
  }
  
  .about-info h2 {
    font-size: 4em;
    color: #fff;
  }
  
  .divider {
    height: 4px;
    width: 135px;
    background-color: aqua;
    margin-top: 10px;
    margin-bottom: 3em;
  }
  
  .about p {
    margin-bottom: 1em;
    color: #fff;
  }
  
  .about span {
    color: aqua;
  }
  
  .readmore {
    padding: 10px 20px;
    background-color: #191c32;
    color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
  }
  
  .readmore:hover {
    background-color: aqua;
    color: #191c32;
  }
  
  .portfolio {
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;
  }
  
  .portfolio-header {
    padding: 3em;
    width: 100wv;
  }
  
  .portfolio-header h2 {
    font-size: 3em;
    padding-top: 3em;
  }
  
  .portfolio .container {
    width: 80vw;
    height: 80vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    height: 450px;
    background-color: #191c32;
    border: 7px solid aqua;
    margin: 1em;
  }
  
  .card__img {
    width: 100%;
    height: 240px;
    background-image: url(./assets/fff.png);
    background-size: cover;
  }
  
  .card__title {
    padding: 20px;
  }
  
  .project-link {
    display: flex;
    justify-content: space-evenly;
  }
  
  .project-link a {
    color: #fff;
    text-decoration: none;
  }
  
  .project-link i {
    font-size: 1em;
  }
  
  .card .project-detail {
    margin: 0 auto;
    margin: 1rem;
    width: 70%;
  }
  
  .card .project-detail a {
    text-decoration: none;
    color: #191c32;
  }
  
  .project-ditail-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
  }
  